:root {
    --title: white;
    --text: #8A8A8A;
    --bg-black: #000000;
    --bg-second-black: #171717;
    --box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5)
}

.dark-mode .outline-pink{
    border-color: var(--title);
    color: var(--title);
}

.dark-mode .left-banner .outline-pink,

.dark-mode header,
.dark-mode header .navbar,
.dark-mode .services,
.dark-mode .stats,
.dark-mode .news,
.dark-mode .products,
.dark-mode .book,
.dark-mode .header_content .navbar-nav .nav-item .dropdown-menu {
    background-color: var(--bg-black) !important;
}

.dark-mode .about,
.dark-mode .faq,
.dark-mode footer {
    background-color: var(--bg-second-black) !important;
}

.dark-mode .header_content .navbar-nav .nav-item .nav-link,
.dark-mode header .header_content .navbar-brand,
.dark-mode .title h3,
.dark-mode .product_content h3,
.dark-mode footer .footer_top h3,
.dark-mode .footer_bottom .right_bottom li a,
.dark-mode .header_content .navbar-nav .nav-item .dropdown-item {
    color: var(--title);
}

.dark-mode .header_content .navbar-light .navbar-brand:focus,
.dark-mode .header_content .navbar-light .navbar-brand:hover {
    opacity: 1;
}