
.dark-mode .outline-pink {
    border-color: var(--dark-title);
    color: var(--dark-title);
}

.dark-mode .left_banner .outline-pink {
    border-color: var(--primary);
    color: var(--primary);
    opacity: 1;
}

.dark-mode .check-list li i{
    background-color: white;
    opacity: 1;
}

.dark-mode .testimonial .title h3{
    color: var(--bg-black);
}

.dark-mode header,
.dark-mode header .navbar,
.dark-mode .services,
.dark-mode .stats,
.dark-mode .news,
.dark-mode .products,
.dark-mode .book,
.dark-mode .aboutUs,
.dark-mode .features,
.dark-mode .connect,
.dark-mode .header_content .navbar-nav .nav-item .dropdown-menu,
.dark-mode .contactUs,
.dark-mode .servicesOur {
    background-color: var(--bg-black) !important;
}

.dark-mode .about,
.dark-mode .faq,
.dark-mode .sub_content,
.dark-mode .solution,
.dark-mode .team,
.dark-mode .business,
.dark-mode .help,
.dark-mode footer {
    background-color: var(--bg-second-black) !important;
}

.dark-mode .header_content .navbar-nav .nav-item .nav-link,
.dark-mode header .header_content .navbar-brand,
.dark-mode .title h3,
.dark-mode .aboutUs_bottom .aboutUs_text h3,
.dark-mode h2.header,
.dark-mode .product_content h3,
.dark-mode footer .footer_top h3,
.dark-mode .footer_bottom .right_bottom li a,
.dark-mode .header_content .navbar-nav .nav-item .dropdown-item,
.dark-mode .product_content nav .nav-link,
.dark-mode .check-list li,
.dark-mode .services_bottom .services_left h3,
.dark-mode .services_right .services_item h4 a,
.dark-mode .connect h3,
.dark-mode .business_content .row_content h6 a,
.dark-mode .sub_content .content_items .content_item h5{
    color: var(--dark-title);
}

.dark-mode .header_content .navbar-light .navbar-brand:focus,
.dark-mode .header_content .navbar-light .navbar-brand:hover {
    opacity: 1;
}

.dark-mode p,
.dark-mode .footer_bottom .left_bottom a
{
    color: var(--dark-text) !important;
}

.dark-mode .nav-tabs .nav-item.show .nav-link,
.dark-mode .nav-tabs .nav-link.active{
    background-color: transparent;
}

.dark-mode .border-img,
.dark-mode .feature_items .feature_item{
    box-shadow: var(--light-box-shadow) !important;
}

.dark-mode .news_content .news_items .news_item:hover,
.dark-mode .services_content .service_item:hover{
    box-shadow: 0 0.5rem 1rem rgb(255 255 255/ 50%);
}

.dark-mode .header_content .navbar-toggler i{
    border: 1px solid white;
    background-color: var(--bg-black);
}