* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    position: relative;
    transition: 0.5s;
}

:root {
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --light-bg-color: #F7F9FC;
    --dark-title: white;
    --dark-text: #8A8A8A;
    --bg-black: #000000;
    --bg-second-black: #171717;
    --light-box-shadow: 1rem -1rem 3rem 12px rgb(255 255 255 / 20%);
}

h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p,
ul {
    padding: 0;
    margin: 0;
}

.header{
    color: var(--title-color);
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
}

.theme-btn {
    line-height: 52px;
    padding: 0 30px;
    font-weight: 700;
    font-size: 14px;
    outline: none;
}

.outline-pink {
    border-color: var(--primary);
    color: var(--primary);
}

.btn-outline-primary.outline-pink:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
}

.pink {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary.pink:hover {
    background-color: #d62f58;
    border-color: #cf2952;
}

.white {
    background-color: var(--primary);
    border-color: var(--primary);
}

.container {
    max-width: 100%;
    padding: 0 25px;
}

.title {
    max-width: 750px;
}

.title h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 5px;
}

.title h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.title p {
    color: var(--text-color);
}

.border-img {
    border-radius: 6px;
    transition: 0.5s;
}

.border-img:hover {
    transform: translateY(-0.5rem);
}

/* HEADER */
header {
    display: grid;
    height: 90px;
    transition: all 0.4s ease 0s;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    align-items: center;
    transition: all 0.5s;
    background-color: #fff;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.nav-fixed {
    padding: 0;
    height: 70px;
    border-bottom: none;
    background-color: #fff;
}

header .navbar,
.services,
.stats,
.news,
.products,
.book,
.dropdown-menu,
.about,
.faq,
footer {
    transition: 0.5s;
}

header .header_content .navbar-brand {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--primary)
}

.header_content .navbar-light .navbar-brand:focus,
.header_content .navbar-light .navbar-brand:hover {
    color: var(--primary);
    opacity: 0.7;
}

header .header_content .navbar-nav .nav-item {
    padding: 0 15px;
    position: relative;
}

.header_content .navbar-nav .nav-item .nav-link {
    padding: 14px 0;
    color: var(--title-color);
    transition: all 0.5s ease;
}

.header_content .navbar-nav .nav-item .dropdown-menu {
    padding: 1rem 0 0.5rem;
}

.header_content .navbar-nav .nav-item .dropdown-item {
    font-weight: 400;
    font-size: 16px;
    color: var(--title-color);
    position: relative;
    padding-top: 0;
    padding-bottom: 14px;
}

.header_content .navbar-nav .nav-item .nav-link:hover,
.header_content .navbar-nav .nav-item.active .nav-link,
.header_content .navbar-nav .nav-item .dropdown-item:hover {
    color: var(--primary);
    background-color: transparent;
}

.header_content .navbar-nav .nav-item .nav-link::before,
.navbar-nav .nav-item .dropdown-item::before {
    position: absolute;
    content: '';
    background-color: var(--primary);
    width: 0px;
    height: 2px;
    bottom: 13px;
    transition: all 0.5s;
}

.header_content .navbar-nav .nav-item .nav-link:hover::before,
.navbar-nav .nav-item .dropdown-item:hover::before {
    width: 20px;
}

.header_content .navbar-nav .nav-item .nav-link i {
    font-size: 10px;
    padding-left: 2px;
}

.header_content .navbar-nav .nav-item .nav-link.active {
    color: var(--primary)
}

.dropdown-toggle::after {
    display: none;
}

.header_content .navbar-toggler {
    border: none;
    padding: 0;
    transition: 0.5s;
}

.header_content .navbar-toggler i {
    color: #fff;
    line-height: 34px;
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 5px;
    display: inline-block;
}

.header_content .navbar-toggler.collapsed i.open {
    display: block;
}

.header_content .navbar-toggler i.open {
    display: none;
}

.header_content .navbar-toggler.collapsed i.close {
    display: none;
}

.header_content .navbar-toggler i.close {
    display: block;
}

/* BANNER */
.banner {
    margin-top: 90px;
}

.banner .banner_content {
    padding-top: 5rem;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.banner_content .left_banner h3 {
    font-size: 50px;
    line-height: 57px;
    color: var(--title-color);
    font-weight: 700;
}

.banner_content .left_banner p {
    color: var(--text-color);
    font-size: 20px;
    line-height: 28px;
    max-width: 450px;
}

.banner .banner_content .right_banner img {
    transform: rotate(180deg);
}

/* SERVICES */
.services_content .service_item {
    padding: 3rem 2rem;
    background-color: var(--light-bg-color);
    border-radius: 6px;
    border: 1px solid #F7F9FC;
    transition: 0.5s;
}

.services_content .service_item:hover {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    border: 1px solid #eee;
    transform: translateY(-0.5rem);
}

.services_content .service_item h3 {
    color: var(--title-color);
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}

.services_content .service_item p {
    color: var(--text-color);
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
}

/* ABOUT */
.about {
    background-color: var(--light-bg-color);
}

.about .about_left .title h3 {
    font-size: 35px;
    line-height: 40px;
}

/* STATS */
.stats {
    background-color: var(--light-bg-color);
}

.stats_content .stats_item {
    background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    border: 1px solid #eee;
}

.stats_content .stats_item h4 {
    line-height: 24px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 16px;
}

.stats_content .stats_item p.counter {
    font-size: 50px;
    line-height: 1;
    font-weight: 700;
    margin: 10px 0 15px;
    color: var(--primary);
}

/* CONTENT */
.content .background_content {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
    background-size: cover;
    min-height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem;
}

.background_content .content_center {
    max-width: 550px;
}

.background_content .content_center h2 {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.background_content .content_center p {
    color: #eee;
}

.content_center .btn-light:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

/* NEWS */
.news_content .news_items .news_item {
    border-radius: 6px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    transition: 0.5s;
}

.news_content .news_items .news_item:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}

.news_items .news_item a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    position: relative;
}

.news_items .news_item img {
    max-width: 100%;
    display: block;
    filter: grayscale(1);
    transition: 0.5s;
}

.news_items .news_item:hover img {
    filter: grayscale(0);
}

.news_items .news_item p.date {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    margin: 0px;
    background-color: var(--primary);
}

.news_items .news_item .news_info {
    background-color: #fff;
    padding: 20px 30px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.news_items .news_item .news_info label {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

.news_items .news_item .news_info label.red {
    background-color: rgba(238, 97, 120, 0.2);
    color: var(--primary);
}

.news_items .news_item .news_info label.green {
    background-color: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.news_items .news_item .news_info label.blue {
    background-color: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}

.news_items .news_item .news_info h4 a {
    font-size: 22px;
    line-height: 27px;
    color: var(--title-color);
    font-weight: 600;
    display: block;
    transition: 0.5s;
}

.news_items .news_item:hover .news_info h4 a {
    color: var(--primary);
}

.news_items .news_item .news_info p {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    margin: 15px 0 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.news_items .news_item .news_info .btn-news {
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.news_items .news_item .news_info .btn-news i {
    vertical-align: middle;
    font-size: 12px;
    position: absolute;
    right: -15px;
    top: 6px;
    transition: 0.5s;
}

.news_items .news_item:hover .news_info .btn-news i {
    right: -18px;
}

/* FAQ */
.faq {
    background-color: var(--light-bg-color);
}

.faq .faq_img {
    position: sticky;
    top: 80px
}

.faq_content .faq_items ul {
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}

.faq_content .faq_items ul li {
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: #fff;
}

.faq_content .faq_items ul li input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    right: 0;
    opacity: 0;
}

.faq_content .faq_items ul li i {
    position: absolute;
    right: 25px;
}

.faq_content .faq_items ul li h2 {
    font-size: 20px;
    color: var(--title-color);
    line-height: 1;
    margin: 0;
}

.faq_content .faq_items ul li p {
    color: var(--text-color);
    line-height: 24px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    transition: all 0.3s ease-in-out;
}

.faq_content .faq_items ul li input[type=checkbox]:checked~p {
    max-height: 0;
    margin: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

/* PRODUCT  */
.product_content nav .nav-link {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    width: calc(100%/3);
    color: #4E5B61;
    border-bottom: 3px solid rgb(193, 193, 193);
    transition: 0.5s;
}

.product_content .nav-tabs .nav-link:focus,
.product_content .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 3px solid rgb(193, 193, 193);
}

.product_content .nav-tabs .nav-item.show .nav-link,
.product_content .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 3px solid var(--primary);
    color: var(--primary);
    transition: 0.5s;
}

.product_content .tab-content {
    margin: 20px 0;
    padding: 15px;
}

.product_content h3 {
    font-size: 30px;
    color: var(--title-color);
    margin-bottom: 16px;
    line-height: 36px;
    font-weight: 700;
}

.product_content p {
    color: var(--text-color);
    margin-bottom: 16px;
    line-height: 24px;
}

/* TESTIMONIAL */
.testimonial {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(../img/b2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.testimonial_item {
    max-width: 95%;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    background-color: #fff;
    border-radius: 6px;
    margin: 0 auto;
}

.testimonial_item .img_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid var(--primary);
    overflow: hidden;
}

.testimonial_item .img_circle img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.testimonial_item .feedback {
    position: relative;
}

.testimonial_item .feedback i {
    font-size: 30px;
    color: var(--title-color);
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: -40px;
}

.testimonial_item .feedback p {
    font-size: 18px;
    line-height: 26px;
    color: var(--title-color);
}

.testimonial_item .feedback h4 {
    font-size: 18px;
    color: var(--primary);
    font-weight: 400;
}

.testimonial_item .feedback p:last-of-type {
    font-size: 13px;
    color: var(--text-color);
    margin: 0;
}

.testimonial .owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 5px;
    margin: 5px 5px;
    background-color: #fff;
    border-radius: 0;
}

.testimonial .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--primary);
}

/* FOOTER */
footer {
    background-color: var(--light-bg-color);
}

footer .footer_top h3 {
    font-size: 20px;
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 30px;
    font-weight: 700;
}

footer .footer_top .footer_item ul {
    padding: 0;
}

footer .footer_top .footer_item li {
    margin: 10px 0;
}

footer .footer_top .footer_item li a {
    color: #656f7b;
    font-size: 15px;
    line-height: 25px;
}

footer .footer_top .footer_item li a:hover,
.footer_bottom .left_bottom a:hover {
    color: var(--primary);
    opacity: 0.8s;
}

footer .footer_top .form_email {
    background-color: #fff;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

footer .footer_top .form_email h4 {
    font-size: 18px;
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 30px;
    font-weight: 500;
}

footer .footer_top .form_email form {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

footer .footer_top .form_email form input {
    background: var(--light-bg-color);
    border: none;
    padding: 12px 20px;
    outline: none;
    width: 78%;
    color: var(--title-color);
    font-weight: 600;
    border-radius: 6px;
}

footer .footer_top .form_email form button {
    background: var(--primary);
    border: none;
    outline: none;
    font-weight: 600;
    padding: 12px 20px;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}

footer .footer_top .form_email p {
    line-height: 22px;
    color: var(--text-color);
}

footer .footer_bottom {
    border-top: 1px solid #eee;
}

.footer_bottom .left_bottom p {
    line-height: 22px;
    color: var(--text-color);
    transition: 0.5s;
}

.footer_bottom .left_bottom a {
    color: var(--title-color);
    transition: 0.5s;
}

.footer_bottom .right_bottom ul {
    margin: 0;
    padding: 0;
}

.footer_bottom .right_bottom li {
    display: inline-block;
    margin-right: 5px;
}

.footer_bottom .right_bottom li a {
    color: var(--title-color);
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
}

.footer_bottom .right_bottom li a:hover {
    color: var(--primary);
}

button.backToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #f55f8d;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.backToTop.show {
    visibility: visible;
    opacity: 1;
}

button.btn-circle {
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
    border-radius: 50%;
    outline: none;
    border: none;
    z-index: 100;
    transition: 2s;
}

.btn-circle i {
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 30px;
    line-height: 65px;
    border-radius: 50%;
    border: none;
    transition: 1s;
}

.btn-circle.dark-theme {
    transition: 1s;
}

.btn-circle:hover i {
    transform: scale(1.5);
}

.btn-circle .dark {
    display: block;
    background-color: black;
    color: white;
}

.btn-circle .light {
    display: none;
    color: black;
    background-color: yellow;
}

.btn-circle.dark-theme i.dark {
    display: none;
    transition: all 1s;
}

.btn-circle.dark-theme i.light {
    display: block;
    transition: all 1s;
}

/* JUMP PAGE */
.jump-page {
    background-color: var(--light-bg-color);
    padding: 15px 20px;
    margin-top: 90px;
}

.jump-page .container {
    color: var(--title-color);
    font-size: 14px;
}


.jump-page .container a {
    color: var(--primary);
    margin: 0 5px 0 0;
    font-size: 14px;
}

/* PAGE ABOUT */
.aboutUs{
    transition: all 0.5s;
}

.aboutUs_bottom .aboutUs_text h3 {
    font-size: 36px;
    line-height: 44px;
    color: var(--title-color);
    margin-bottom: 10px;
    font-weight: 600;
}

.aboutUs_bottom .aboutUs_text p {
    line-height: 24px;
    color: var(--text-color);
    margin: 15px 0 35px 0;
}

.aboutUs_bottom .aboutUs_text ul li {
    line-height: 26px;
    color: var(--title-color);
    margin: 15px 0;
    font-weight: 600;
}

.aboutUs_bottom .aboutUs_text li i {
    color: var(--primary);
    margin-right: 12px;
    background-color: rgba(220, 79, 114, 0.1);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    opacity: 0.7;
}

/* SUB CONTENT */
.sub_content{
    transition: all 0.5s;
}

.sub_content .content_items .content_item h5 {
    font-size: 26px;
    line-height: 32px;
    color: var(--title-color);
    font-weight: 700;
}

.sub_content .content_items .content_item p {
    line-height: 24px;
    color: var(--text-color);
    margin-top: 16px;
}

/* FEATURES */
.features {
    background-color: var(--light-bg-color);
    transition: all 0.5s;
}

.feature_items .feature_item {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    height: 250px;
    text-align: center;
    padding: 0 30px;
    width: 100%;
}

.feature_item .icon {
    margin-bottom: 68px;
    display: inline-block;
    position: relative;
    top: 60px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    background-color: var(--primary);
    transition: all 0.5s;
}

.feature_item h4 {
    position: relative;
    top: 10px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: var(--title-color);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.feature_item .content_show {
    margin: -6em auto 0;
    opacity: 0;
    transform: scale(0);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.feature_item .content_show p {
    color: var(--title-color);
    line-height: 25px;
    margin: 20px 0;
}

.feature_item .content_show a {
    font-size: 17px;
    line-height: 26px;
    font-weight: 700;
    color: var(--primary);
}

.feature_item:hover .icon {
    top: -40px
}

.feature_item:hover h4 {
    top: -80px
}

.feature_item:hover .content_show {
    opacity: 1;
    transform: scale(1);
    font-size: 14px;
    line-height: 2.2rem;
}

.feature_item:hover .content_show a {
    top: -60px;
}

.content_show:hover a {
    text-decoration: underline;
}

/* SOLUTION */
.solution{
    transition: all 0.5s;
}

.solution_content {
    max-width: 700px;
    margin: 0 auto;
}

.solution_content .solution_img {
    position: relative;
}

.solution_content .solution_img img {
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.solution_content .solution_img a {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.solution_content .solution_img a i {
    background-color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    color: var(--primary);
    transition: all 0.5s;
    animation: ripple 1s linear infinite;
}

.solution_content .request .modal-title {
    color: var(--title-color);
    font-size: 30px;
    font-weight: 700;
}

.solution_content .request input {
    padding: 15px 20px;
    color: #000;
    font-weight: 600;
    line-height: 26px;
    background-color: var(--light-bg-color);
    height: 55px;
}

/* CUSTOMERS */
.customers .customers_item img {
    filter: grayscale(1);
    transition: 0.5s;
    padding: 1.5rem 2rem;
    transition: all 0.3s;
}

.customers_item img:hover{
    filter: grayscale(0);
}

/* TEAM */
.team {
    background-color: var(--light-bg-color);
    transition: all 0.5s;
}

.team .team_items .team_item {
    transition: all 0.3s;
    border-radius: 5px;
}

.team_items .team_item .team_img {
    width: 100%;
    height: 250px;
    display: inline-block;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    background: #f3f6f9;
}

.team_img img {
    display: block;
}

.team_item .team_info {
    padding: 16px;
    background: #fff;
    border-radius: 0 0 6px 6px;
    border: 1px solid #eee;
    border-top: none;
    margin-top: -8px;
}

.team_info a {
    font-size: 22px;
    line-height: 26px;
    color: var(--title-color);
    font-weight: 700;
}

.team_item p{
    line-height: 24px;
    color: var(--text-color);
    margin: 2px 0px 14px;
}

.team_info .icon_social a{
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.team_info .icon_social a i{
    font-size: 12px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    color: #fff;
}

.team_info .icon_social a i.fa-facebook-f{
    background: #3b5998;
}

.team_info .icon_social a i.fa-twitter{
    background: #1da1f2;
}

.team .team_items .team_item:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}

.team .team_items .team_item:hover .team_info h3 a{
    color: var(--primary);
}

/* PAGE SERVICES */
.services_bottom .services_left h3{
    font-size: 42px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 30px;
}

.services_bottom .services_left h5{
    font-size: 24px;
    line-height: 30px;
    color: #999;
}

.services_right .services_item{
    padding: 0 30px;
}

.services_right .services_item a.icon{
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: var(--light-bg-color);
    text-align: center;
    border-radius: 50%;
    margin-bottom: 15px;
    display: block;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.services_right .services_item h4 a{
    font-size: 20px;
    font-weight: 700;
    color: var(--title-color);
    line-height: 24px;
}

.services_right .services_item p{
    line-height: 20px;
    color: var(--text-color);
    margin-top: 5px;
}

/* BUSINESS */
.business{
    background-color: var(--light-bg-color);
    transition: 0.5s;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 991px) {

    /* HEADER */
    header {
        height: auto
    }

    header.nav-fixed {
        height: auto;
    }

    header .navbar-nav {
        text-align: center;
    }

    .header_content .navbar-nav {
        margin: 0;
        padding: 20px 0;
    }

    .header_content .navbar-nav .nav-item .nav-link {
        padding: 8px 0
    }

    /* BANNER */
    section.banner {
        margin-top: 65px;
    }

    /* PRODUCT */
    .product_content .product_item h3 {
        margin-bottom: 14px;
        font-size: 26px;
        line-height: 33px;
    }

    /* FOOTER */
    .footer_bottom {
        display: block !important;
    }

    .footer_bottom .right_bottom {
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .testimonial .testimonial_item {
        padding: 2rem
    }
}

@media screen and (max-width: 800px) {
    .title h3 {
        font-size: 40px;
        line-height: 50px;
    }

    .content .background_content .content_center a {
        margin-top: 40px;
    }
}

@media screen and (max-width: 767px) {
    .theme-btn {
        padding: 0 20px;
        line-height: 44px
    }
}

@media screen and (max-width: 667px) {
    .title h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .content .background_content .content_center a {
        margin-top: 30px;
    }

    .testimonial .testimonial_item {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .testimonial .testimonial_item .img_circle {
        margin: 0 auto;
    }

    .testimonial .testimonial_item .feedback {
        text-align: center;
    }

    .testimonial .testimonial_item .feedback i {
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 576px) {
    .container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 480px) {

    .product_content .product_item h3 {
        font-size: 24px;
        line-height: 30px;
    }
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 15%), 0 0 0 10px rgb(255 255 255 / 15%), 0 0 0 20px rgb(255 255 255 / 15%);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 15%), 0 0 0 20px rgb(255 255 255 / 15%), 0 0 0 40px rgb(50 100 245 / 0%);
    }
}